/* Please rename the css file if anything does not change in the webpage after editing the file. 
Also, do not forget to change location of the css file in the php/html file */

header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
  background-color: rgb(238, 170, 85);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.navbar-left {
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
  color: darkred; 
  font-family: 'Montserrat', sans-serif; 
  font-weight: 900; 
}

.navbar-right-side {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 42px;
  font-size: 22px;
}

.navbar-left-side {
  position:relative; 
}

.navbar-left-side:hover {
  cursor: pointer;
}

.navbar-logo {
  width: 55px;
}

.navbar-right:link,
.navbar-right:visited {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}

.navbar-right:hover,
.navvar-right:active {
  color: red;
}

.history-section {
  height: 100%;
  padding: 30px 45px;
  margin-bottom: 60px;
}

.table-info {
  width: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 45px;
  font-size: 40px;
}

.table {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.columns {
  background-color: lightgrey;
  width: 100%;
}

.table-headings {
  border: 1.5px solid black;
  width: 16%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table-headings h5 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
  padding: 0px 10px;
}

.table-data {
  border: 1.5px solid black;
  width: 16%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table-data h5 {
  margin: 10px 0px;
  font-size: 20px;
  font-weight: lighter;
}

.delete-part {
  background-color: rgb(86, 194, 204);
  padding-top: -1500px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.delete-part h1 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 35px;
}

.change-part h1 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 35px;
}

.change-part {
  background-color: rgb(255, 232, 127);
  padding-top: -1700px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.print-part h1 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 35px;
}

.print-part {
  background-color: rgb(127, 255, 253);
  padding-top: -1800px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

label {
  display: inline-block;
  width: 200px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 22px;
}

input{
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: rgba(18, 140, 18, 0.932);
  color: white;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttons:hover {
  color: black;
  cursor: pointer;
}

footer{
  background-color: rgb(94, 87, 87);
  color: white;
  font-size: 18px;
  width: 100%;
  height: 30px;
  top: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}